{% extends 'base.html' %}

{% block title %}Projects | Architecture Portal{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Our Projects</h1>
        <ul class="list-unstyled">
            {% for project in projects %}
                <li class="mb-4 border-bottom pb-3">
                    <h5>
                        <a class="text-light" href="{% url 'project_detail' project.pk %}">
                            {{ project.title }}
                        </a>
                    </h5>
                    <p>{{ project.description|truncatewords:20 }}</p>
                    {% if project.images.all %}
                        <img src="{{ project.images.first.image.url }}" width="200" class="img-thumbnail">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
